*{
    color: #0a043c;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Helvetica', sans-serif;
}

.navbar {
    padding-top: 3rem;
}

.navbar a {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

[data-text-type='link'], a[data-text-type='link'], [data-text-type='header'] {
    color: #03506f;
}

main.mt-5 {
    margin-top: 5rem;
}

a.navbar-brand {
    font-size: 1.8rem;
}


body::-webkit-scrollbar {
    display: none;
}

.bg-color {
    background-color: #77b6d3;
}

[data-shadow], .navbar, footer {
    box-shadow: 0 0 6px rgba(0, 0, 0, .2), 0 0 8px rgba(10, 10, 10, .1);
}

[data-rate="html"]{
    width: 15%;
}
[data-rate="css"]{
    width: 19%;
}
[data-rate="js"]{
    width: 26%;
}
[data-rate="php"]{
    width: 14%;
}
[data-rate="mysql"]{
    width: 15%;
}
[data-rate="mongodb"]{
    width: 11%;
}

@media (width < 1000px){
    [data-chart]{
        flex-direction: column;
    }

    [data-rate="html"] {
        width: 35%;
    }
    [data-rate="css"] {
        width: 38%;
    }
    [data-rate="js"] {
        width: 50%;
    }
    [data-rate="php"] {
        width: 25%;
    }
    [data-rate="mysql"] {
        width: 30%;
    }
    [data-rate="mongodb"] {
        width: 25%;
    }
}

#moon{
    color: rgb(10, 10, 10);
}

#bg-theme {
    padding: 5px 0 5px 50%;
}


input[name='email'] {
    border-radius: 5px;
    font-size: x-large;
    outline: none;
    border: none;
    background: rgba(20, 20, 50, 0.2);
    width: 80%;
    padding: 1rem 3rem;
}

input[type='submit'] {
    margin-bottom: 2rem;
    padding-block: .5rem;
    padding-inline: 3rem;
    margin-left: 1rem;
}